@font-face {
  font-family: Jost;
  src: url(../fonts/Jost/OpenType/Jost-400-Book.otf);
}

@font-face {
  font-family: JostItalic;
  src: url(../fonts/Jost/OpenType/Jost-400-BookItalic.otf);
}

@font-face {
  font-family: Icons;
  src: url(../fonts/MaterialIconsRound-Regular.otf);
}

body, html {
  height: 100%
}

body {
  font-family: sans-serif;
  text-rendering: optimizeSpeed;
  margin: 0;
  background-color: #161616;
  color: #fff;
  font-family: Jost;
}

.icon {
  font-family: Icons;
}

.top-bar {
  background-color: #2196F3;
  color: #fff;
  padding: 0 32px;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.top-bar .toggler-deco::after, .top-bar::after, .top-bar::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  background-image: url(../images/waves.png);
  background-size: 100vw 10px;
  background-repeat: repeat-x;
  width: 100%;
  height: 10px;
  animation: waves-animation 12s linear infinite;
}

.top-bar::after {
  background-size: 100vw 20px;
  height: 20px;
  animation: waves-animation 6s linear infinite;
  opacity: .5;
}

.top-bar .toggler-deco::after {
  background-size: 100vw 15px;
  height: 15px;
  animation: waves-animation 3s reverse linear infinite;
  opacity: .2;
  z-index: -1;
  transition: opacity 1.5s;
}

@keyframes waves-animation {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100vw;
  }
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu div:hover>.icon {
  animation: jump .2s alternate 2;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4px);
  }
}

@media (max-width:700px) {
  .drawer-toggle {
    position: fixed;
    right: 0;
    z-index: 3;
    width: 60px;
    height: 60px;
    margin: 0;
    opacity: 0;
  }

  .drawer-toggle:hover {
    cursor: pointer;
  }

  .drawer-toggle:checked~.menu {
    transform: translateY(0);
  }

  .drawer-toggle:checked~.toggler-deco::after {
    opacity: 0;
    transition: opacity .25s;
  }

  .toggler-deco {
    z-index: 2;
  }

  .toggler-deco div:nth-child(1) {
    opacity: 0;
  }

  .drawer-toggle:checked~.toggler-deco div:nth-child(1) {
    opacity: 1;
  }

  .drawer-toggle:checked~.toggler-deco div:nth-child(2) {
    opacity: 0;
  }

  .toggler-deco div {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2196F3;
    z-index: 1;
    padding: 0 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: transform .5s;
  }

  .menu div {
    padding: 12px 18px;
    box-sizing: border-box;
    width: calc(100% - 96px);
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-family: Jost;
  }

  .menu div .icon {
    margin-right: 12px;
  }
  
  .menu div:hover {
    background-color: rgba(255, 255, 255, .205);
  }
}

@media (min-width:700px) {
  .drawer-toggle, .toggler-deco>div {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu .icon {
    font-size: 24px;
  }

  .menu .name {
    font-size: 12px;
    height: 12px;
    margin-top: -12px;
    opacity: 0;
    transition: opacity .6s, margin .6s;
  }

  .menu div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60px;
    user-select: none;
    height: 60px;
    transition: background .6s;
  }

  .menu div.credits {
    width: auto;
    padding: 0 16px;
    font-size: 15px;
  }

  .menu div:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    transition: background .2s;
  }

  .menu div:hover>.name {
    opacity: 1;
    transition: opacity .2s, margin .2s;
    margin-top: 2px;
  }
}
.content {
  padding: 64px 32px 0 32px;
  box-sizing: border-box;
  max-width: 1000px;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.title-box .title {
  font-size: 60px;
}

.title-box .subtitle {
  font-size: 16px;
}

input {
  font-family: sans-serif;
  font-size: 14px;
  background: rgba(255, 255, 255, .178);
  border: none;
  outline: 0;
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
}